@import "variables";

.contact-form {
  margin: 4rem 6rem;
  color: gray;
  }

.contact-form h1 {
  font-size: 1.8rem;
  font-weight: bold;
}

.contact-form form {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.contact-form input {
  height: 3rem;
  padding: 0 1rem;
  margin-bottom: 2rem;
  border-radius: .3rem;
  border: 1px solid slategray;
  font-family: $font-family-main;
  font-weight: bold;
  font-size: 0.8rem;
}

.contact-form textarea {
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: .3rem;
  border: 1px solid slategray;
  font-family: $font-family-main;
  font-weight: bold;
  font-size: 0.8rem;
}

.contact-form button {
  display: inline;
  }

@media screen and (max-width: 850px) {
  .contact-form {
    margin: 4rem 2rem;
      }
.contact-form form {
  padding-top: 2rem;
  width: 90%;
}
}