$columns: 12;
$gutters: 15px;
$column-base-width: 100% / $columns;

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  display: grid;
  grid-template-columns: repeat(#{$columns}, $column-base-width);
  gap: $gutters;

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -$gutters;

    [class*='col-'] {
      min-height: 1px;
      padding: 0 $gutters;
    }

    @for $i from 1 through $columns {
      .col-#{$i} {
        grid-column: span #{$i};
      }
    }
  }
}


