@import "reset";
@import "variables";

@import "contactForm";
@import "footer";
@import "aboutUs";
@import "recommendations";
@import "history";
@import "navigation";
@import "mainView";
@import "myPlaces";
@import "popularPlaces";
@import "formInput";
@import "planner";



* {
  box-sizing: border-box;
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(255, 255, 255, .95)),url('/src/images/Six.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
.app {
  font-family: $font-family-main;
  text-align: center;
}