@import "reset";
@import "variables";

/*@import "contact";
@import "footer";
@import "header";
@import "recommendations";
@import "slider";
@import "history";
@import "navigation";

.app {
  font-family: Arial, sans-serif;
}*/
* {
  box-sizing: border-box;
}
.app {
  font-family: $font-family-main;
  text-align: center;
}